body {
    font-family: Arial, sans-serif;
    background-color: #e3e1e1;
    color: #333333;
    margin: 0;
    padding: 20px;
}

header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    line-height: 1.6;
    color: #555;
}

h3 {
    color: #333;
    margin-top: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #218838;
}


/* Additional styles for images */

.decorative-img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.info-section img {
    display: block;
    margin: 0 auto 15px;
    width: 100px;
    height: auto;
}

.info-section {
    background-color: #e3e1e1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.info-section h2 {
    color: #cece06f3;
}

.info-section p {
    font-size: 16px;
    color: #555;
}

.info-section i {
    font-size: 50px;
    color: #3498db;
    margin-top: 10px;
}