body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e3e1e1;
    color: #333333;
}

header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
}

.approve {
    background-color: #28a745;
    /* Green */
}

.disapprove {
    background-color: #dc3545;
    /* Red */
}


/* Styles for alert messages */

.alert {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
}

.alert-success {
    color: green;
    border-color: green;
    background-color: #d4edda;
}

.alert-error {
    color: red;
    border-color: red;
    background-color: #f8d7da;
}